[Desktop Entry]
Encoding=UTF-8
Name=Il va faire tout noir
Comment=Plasmoid to switch between Light and Dark theme.
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=juliencombattelli
X-KDE-PluginInfo-Email=julien.combattelli@gmail.com
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Name=com.github.juliencombattelli.ilVaFaireToutNoir
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/juliencombattelli/plasma-applet-il-va-faire-tout-noir
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Utilities